:root {
    --body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--naver-green-color: #04c75a;
	--naver-green-border-color: #06b350;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: NanumSquareRound;
}
@font-face{
    font-family: NanumSquareRound;
    src:url(font/NanumSquareRound.ttf);
}
body{
    background:var(--body-background-color);
}
.main-container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}
.main-container .main-wrap{
    width: 768px;
}
.main-container .main-wrap .sel-lang-wrap .lang-select{
    width: 96px;
    height: 30px;
    color: var(--font-color);
	border: solid 1px var(--border-gray-color);
}
.main-container .main-wrap .logo-wrap {
    padding-top: 55px;
}
.main-container .main-wrap .logo-wrap img {
    width: 231px;
    height: 50px;
}
.main-container .main-wrap header .sel-lang-wrap { 
    display: flex;
    justify-content: flex-end;
}
.main-container .main-wrap header .logo-wrap { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input-selction-wrap{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-input-id {
    width: 465px;
    height: 48px;
    border: solid 1px var(	--border-gray-color );
    background: white;
}
.passwd-input {
    margin-top: 13px;
}
.login-input-id input {
    border: none;
    width: 430px;
    height: 30px;
    margin-top: 10px;
	font-size: 14px;
	margin-left: 10px;
}
.login-btton { 
    margin-top: 10px;
}
.login-btton button {
    width: 465px;
	height :48px;
	font-size: 18px;
    background: var(--naver-green-color);
	color: white;
	border: solid 1px var(--naver-green-border-color);
}
.login-stay-sign-in {
     width: 465px;
     height: 52px;
    display: flex;
	font-size: 15px;
	color: #4e4e4e;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-gray-color);
}
.login-stay-sign-in i{
	font-size: 25px;
	color: #9ba1a3;
}
.login-stay-sign-in span{
	padding-left: 5px;
	line-height: 25px;
}
.login-slmple {
    width: 450px;
    width: 50px;
}
.login-slmple .login-slmple-login {
    margin-top: 50px;
    align-items: center;
    text-align:  center;
    font-size: 14px;
}
.btton-login-box{
    display: flex;
    justify-content: center;
  align-items: center;
    padding-top: 20px;

}
.btton-login-box button {
    margin-left: 20px;
    width: 219px;
    height: 50px;
   font-size: 15px;
   background-color: #fff;
   border: solid 1px #04c75a;

}
.forget-msg{
    font-size: 14px;
    color: #8e8e8e;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box { 
    width: 450px;
    height: 140px;
}

.footer-box .naver-pay-img{
    padding-top: 40px;
}